.search_Container {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.search_Wrapper {
  width: 80%;
  margin: 0 auto;
}

.search_Wrapper h2 {
  text-align: center;
  font-size: 2.4vw;
  font-family: "Montserrat", sans-serif;
  opacity: 0.8;
}

.search_Wrapper form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
}

.search_Wrapper input {
  padding: 18px 15px;
  width: 44vw;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #c2bebe;
  font-family: "Montserrat", sans-serif;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search_Wrapper button {
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffff;
  padding: 16px 55px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.5s;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 768px) {
  .search_Wrapper {
    width: 90%;
  }

  .search_Wrapper input {
    width: 68vw;
  }

  .search_Wrapper h2 {
    font-size: 5.2vw;
  }
}

@media screen and (max-width: 500px) {
  .search_Wrapper form {
    display: flex;
    flex-direction: column;
  }

  .search_Wrapper form input {
    width: 100%;
    border-radius: 10px;
  }

  .search_Wrapper button {
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    outline: none;
  }
}
