.how_Container {
  margin-top: 6rem;
  width: 100%;
  /* background-color: #000000; */
  background-image: url(../../../Images/howbg.jpg);
  /* height: 70vh; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #555353;
  background-attachment: fixed;
  background-blend-mode: multiply;
  /* cursor: pointer; */
  transition: all 0.6s ease-out;
}

.how_Wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.how_Wrapper h2 {
  text-align: center;
  text-align: center;
  font-size: 2.4vw;
  font-family: "Montserrat", sans-serif;
  /* opacity: 0.9; */
  color: #fff;
}

.how_Full {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  color: white;
  margin-top: 3rem;
}

.how_Full .circle {
  border: 1px solid #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  place-items: center;
  border-width: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.circle span {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  place-items: center;
  text-align: center;
}

.how_Full h3 {
  font-weight: 600;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  /* opacity: 0.9; */

  /* text-align: center; */
}

.how_Full p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  margin-top: 10px;
  /* opacity: 0.8; */
}

@media screen and (max-width: 768px) {
  .how_Wrapper {
    width: 90%;
  }

  .circle span {
    justify-content: center;
    place-items: center;
    align-items: center;
    text-align: center;
  }

  .how_Wrapper h2 {
    font-size: 5.2vw;
  }

  .how_Full .circle {
    text-align: center;
    margin: 0 auto;
  }

  .how_Full h3 {
    text-align: center;
  }

  .how_Full p {
    text-align: center;
  }
}
